/* Filename: style.css */
body { 
	margin: 0; 
	padding: 0; 
	font-family: 'Montserrat', sans-serif; 
	background: linear-gradient(to right, #3494E6, #EC6EAD); 
	height: 100vh; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	color: #fff; 
} 

.app-title { 
	font-size: 20px; 
	color: #4CAF50; 
	margin-bottom: 20px; 
	font-weight: bold; 
} 

.container { 
	background: rgba(255, 255, 255, 0.9); 
	padding: 20px; 
	border-radius: 10px; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
	max-width: 400px; 
	width: 100%; 
	overflow: hidden; 
	text-align: center; 
} 

.color-card { 
	background: #fff; 
	border-radius: 10px; 
	padding: 20px; 
	margin-bottom: 20px; 
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

.color-card p { 
	font-size: 18px; 
	margin: 10px 0; 
} 

.buttons button { 
	margin: 10px; 
	padding: 10px 20px; 
	font-size: 16px; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	transition: background 0.3s ease; 
} 

.buttons button:hover { 
	background: #FF4848; 
} 

#copyMessage { 
	font-size: 14px; 
	color: #333; 
	margin: 10px 0; 
}
